.footer {
  ul {
    display: flex;
    float: right;
    li {
      position: relative;
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
  svg {
    height: 1em;
    width: 2ch;
    fill: var(--green-color);
  }
}
