form {
  .mauticform-row {
    line-height: var(--global-line-height);
    margin: calc(var(--global-line-height) * 0.5) 0.5ch var(--global-line-height);
  }

  label, .mauticform-label {
    font-size: 1em;
    display: flex;
    position: relative;
    //padding-right: 1ch;
    width: 30ch;
  }
  .mauticform-checkboxgrp-row label {
    width: 100%;
  }

  .mauticform-required label::after {
    content: "*";
    color: var(--red-color);
    margin-left: 1ch;
  }

  input[type=email], input[type=text] {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--form-color);
    border: 0;
    border-bottom: 1px solid var(--form-color);
    font-size: 1em;
    line-height: var(--global-line-height);
    -webkit-appearance: none;
    border-radius: 0;
    padding-bottom: 2px;
    margin-bottom: -2px;
    width: 40ch;
    margin-left:auto;
    flex:none;
  }

  input[type=email]:active, input[type=email]:focus, input[type=text]:active, input[type=text]:focus {
    outline: 0;
    -webkit-appearance: none;
    /*border: 1px solid var(--font-color);*/
  }

  .mauticform-errormsg {
    color: var(--red-color);
  }

  textarea, .mauticform-textarea {
    height: auto;
    width: 100%;
    resize: none;
    //border: 1px var(--input-style) var(--font-color);
    border: 1px solid var(--form-color);
    background-color: var(--background-color);
    color: var(--form-color);
    padding: 0.5em;
    font-size: 1em;
    -webkit-appearance: none;
    border-radius: 0;
  }
  textarea:focus, textarea:active, .mauticform-textarea:focus, .mauticform-textarea:active {
    outline: 0;
    -webkit-appearance: none;
  }
}

.btn {
  border: 1px solid var(--form-color);
  background-color: var(--background-color);
  color: var(--form-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  padding: 0.65em 1em;
  font-size: 1em;
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
  text-decoration: none;
  transition: all 0.3s;
}
.btn:hover {
  border: 1px solid var(--form-color);
  background-color: var(--form-color);
  color: var(--background-color);
}
