/*----- Navigation menu Start -----*/
.terminal-menu {
  width: 100%;

  ul {
    display: flex;
    float: right;
    li {
      position: relative;
      list-style: none;
      a {
        padding: 0 1ch;
      }
    }
  }

  a {
    @include link-bracket;
  }
}
