/**
CSS Units: https://www.w3schools.com/CSSref/css_units.asp
Animation: https://www.w3schools.com/css/css3_animations.asp
Icons:
    - https://ionic.io/ionicons/v4
    - https://fontawesome.com/icons/code?s=solid
**/
:root {
    --page-width: 100ch;
    --clr: #222327;
    --global-line-height: 1.4em;

    /*
        Dracula theme
        https://github.com/dracula/dracula-theme
    */
    /* --background-color: #282a36; */
    --background-color: #181920;
    --current-line-color: #44475a;
    --selection-color: #44475a;
    /* --foreground-color: #f8f8f2; */
    --title-color: #f8f8f2;
    --foreground-color: #c8c8c8;
    --comment-color: #7e8fc3;
    --cyan-color: #8be9fd;
    --green-color: #50fa7b;
    --orange-color: #ffb86c;
    --pink-color: #ff79c6;
    --purple-color: #bd93f9;
    --red-color: #ff5555;
    --yellow-color: #f1fa8c;

    --success-color: var(--green-color);
    --font-color: var(--foreground-color);
    --link-color: var(--comment-color);
    --border-color: var(--selection-color);
    --form-color: var(--foreground-color);

    --code-border-color: var(--selection-color);
    --code-color: var(--cyan-color);
    --code-background-color: rgba(0, 0, 0, 0.4);
    --color-social-icons: var(--selection-color);
    --color-link-decoration-hover: var(--green-color);
}

@import "mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas, monospace;
}
body {
    background-color: var(--background-color);
    line-height: var(--global-line-height);
    color: var(--font-color);
}
body>div.content {
    max-width: var(--page-width);
    margin: auto;
}
a {
    font-weight: bold;
    color: var(--link-color);
    text-decoration-style: dotted;
}


/*
    HTML 5 Elements:
    https://www.w3docs.com/learn-html/html5-elements-reference.html
 */
header, main, footer {
}
header {
    border-color: var(--border-color);
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
}
header a {
    text-decoration: none;
}

//.card, code.hljs {
//    padding: calc(var(--global-line-height) * 0.5) 0.5ch;
//    margin: calc(var(--global-line-height) * 0.5) 0.5ch var(--global-line-height);
//    border-width: 1px;
//    border-style: solid;
//    border-color: var(--card-color);
//    width: calc(100% - 1ch);
//    position: relative;
//}
.card {
    padding: calc(var(--global-line-height) * 0.5) 0.5ch;
    margin: calc(var(--global-line-height) * 0.5) 0.5ch var(--global-line-height);
    border-width: 1px;
    border-style: solid;
    border-color: var(--card-color);
    width: calc(100% - 1ch);
    position: relative;
}

.card .card-title {
    font-size: 1em;
    padding: 0;
    margin: 0;
    position: absolute;
    /*left: 5ch;*/
    left: 1.5ch;
    top: calc(var(--global-line-height) * -0.5);
    padding-inline-start: 1ch;
    padding-inline-end: 1ch;
    display: table;
    background-color: var(--background-color);
    color: var(--card-color);
}
.card .card-footer {
    position: absolute;
    bottom: calc(var(--global-line-height) * -0.5);
    right: 1.5ch;
    padding-inline-start: 1ch;
    padding-inline-end: 1ch;
    background-color: var(--background-color);
    color: var(--card-color);
}

.p-t0 {
    padding-top: 0;
}
.p-t1 {
    padding-top: calc(var(--global-line-height) * 1.5);
}
.p-b1 {
    padding-bottom: calc(var(--global-line-height) * 1.5);
}
.p-l1 {
    padding-left: 1.5ch;
}
.p-r1 {
    padding-right: 1.5ch;
}
.p-1 {
    padding: calc(var(--global-line-height) * 1.5) 1.5ch;
}

code, code.hljs {
    border-color: var(--code-border-color);
    background-color: var(--code-background-color);
}
code {
    color: var(--code-color);
    border-color: var(--code-border-color);
    background-color: var(--code-background-color);
}
.center-image
{
    margin: 0 auto;
    padding-top: 2ch;
    padding-bottom: 2ch;
    display: block;
}

.card .card {
    margin-top: 2em;
    margin-left: 1.5ch;
    margin-right: 1.5ch;
    width: calc(100% - 3ch);
}
.card.warning {
    --card-color: var(--orange-color)
}
.card.warning .card-title:before {
    content: '/!\\ '
}
.card.warning .card-title:after {
    content: ' /!\\';
    position: relative;
}


@import "header";
@import "footer";
@import "complexity";
@import "divers";
@import "form";
@import "article";

/*--- Terminal Prompt Start ---*/
.terminal-prompt {
    white-space: nowrap;
}
.terminal-prompt::before {
    content: "$> ";
    font-weight: bold;
}
.terminal-prompt::after {
    content: "";
    -webkit-animation: cursor .8s infinite;
    animation: cursor .8s infinite;
    background: var(--font-color);
    border-radius: 0;
    display: inline-block;
    height: 1em;
    margin-left: 0.2em;
    width: 3px;
    bottom: -2px;
    position: relative;
}
@keyframes cursor {
    from {background-color: var(--font-color);}
    to {background-color: transparent;}
}
/*--- Terminal Prompt End ---*/

/*--- Loader Spinner Start ---*/
.spinner:before {
    content: "-";
    margin-right: 1ch;
    animation: spinner 0.3s infinite;
    animation-timing-function: linear;
}
@keyframes spinner {
    0% { content: '-'; }
    25% { content: '/'; }
    50% { content: '|'; }
    75% { content: '\\'; }
}
/*--- Loader spinner End ---*/

main p {
    margin: 0;
    text-indent: 3ch;
}
main p.no-indent {
    text-indent: 0;
}

main ul {
    &.indent-1 {
        margin-left: 3ch;
    }
    &.indent-2 {
        margin-left: 6ch;
    }
    li {
        list-style-type: '-';
        margin-left: 1ch;
        padding-left: 1ch;
    }
}

.message {
    background-color: var(--success-color);
    color: var(--background-color);
    padding: var(--global-line-height) 1ch;
    margin-bottom: var(--global-line-height);
}
.message:before {
    content: '[OK] ';
    font-weight: bold;
}

h1:not(.card-title), h2:not(.card-title), h3:not(.card-title) {
    font-size: 1em;
    position: relative;
    //display: block;
    display: table-cell;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3ch;
    overflow: hidden;
    font-weight: 600;
    color: var(--title-color);
    //float: none;
}
h2:not(.card-title)::after, h3:not(.card-title)::after {
    position: absolute;
    left: 0;
    display: block;
}
h3:not(.card-title) {
    padding-left: 6ch;
}
h2:not(.card-title)::after {
    content: "====================================================================================================";
    bottom: 0.6em;
    padding-left: 3ch;
}
h3:not(.card-title)::after {
    content: "____________________________________________________________________________________________________";
    bottom: 1.4em;
    padding-left: 6ch;
}
h2.p-t0 {
    padding-top: 0;
}

b {
    color: var(--purple-color);
}

a.button {
    @include box(var(--border-color));
}
/*
.cta::before {
    content: url('hand-point-right-regular.svg'); // Set the SVG path
    display: inline-block;
    width: 1em; // Set the width
    height: 1em; // Set the height
    margin-right: 1ch;
    color: var(--font-color);
}
.btn.cta::before:hover {
    color: var(--background-color);
}*/

.cta-container {
    text-align: right;
    .cta::before {
        content: '->';
        margin-right: 1ch;
    }
}


#mauticform_blogcommentaire_page_url {
    display: none;
}
