<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Jeckel-Lab</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/dracula.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
  </head>
  <body>
    <div class="content">
      <header class="card" style="--card-color: var(--border-color)">
          <div class="terminal-logo">
              <div class="logo terminal-prompt"><a href="/" class="no-style">Jeckel-Lab</a></div>
          </div>
          <nav class="terminal-menu">
              <ul>
                  <li><a href="/" class="menu-item active"><span>Home</span></a><meta property="position"></li>
                  <li><a href="/blog" property="item" typeof="WebPage" class="menu-item "><span property="name">Blog</span></a><meta property="position" content="1"></li>
                  <li><a href="/cv" property="item" typeof="WebPage" class="menu-item "><span property="name">CV</span></a><meta property="position" content="2"></li>
                  <li><a href="/contact" property="item" typeof="WebPage" class="menu-item "><span property="name">Contact</span></a><meta property="position" content="3"></li>
              </ul>
          </nav>
      </header>
      <main>
        <div class="card" style="--card-color: var(--purple-color)">
          <h1 class="block-title">{{ page.title }}</h1>
          <section>
            {{ content }}
          </section>
        </div>
      </main>
    </div>
    <footer>
      <div class="container footer">
        <i>CSS Theme inspired by <a href="https://draculatheme.com/">Dracula color theme</a>, &copy; to me.</i>
      </div>
    </footer>
  </body>
</html>