---
layout: default
menu_item: blog
---

{% capture currentDate %}
{{ 'now' | date: '%s'}}
{% endcapture %}
{% assign currentYear = site.time | date: "%Y" | to_integer | minus: 2 %}
{% assign postYear = page.date | date: "%Y" | to_integer %}
<div class="card" style="--card-color: var(--purple-color)">
  <h1 class="card-title">{{ page.title }}</h1>
  {%- if currentYear > postYear -%}
    <div class="card warning" style="">
      <div class="card-title">Article ancien</div>
      <p><strong>Attention :</strong> cet article a été rédigé il y a plus de 2 ans, certaines informations peuvent être obsolètes.</p>
    </div>
  {%- endif -%}

  <section class="post">
    {{ content }}
  </section>
  <div class="card post-meta" style="--card-color: var(--green-color)">
    <div class="card-title">Metas...</div>
    <p class="">Publié le: {% include date.liquid date=page.date format="long" %}</p>
    <p class="post-tags">Tags: {% for tag in site.tags %}
      {% if page.tags contains tag.name or tag.name == page.tags %}
      <span class="post-tag"><a href="{{ site.url }}{{ site.baseurl }}{{ tag.url }}">{{ tag.name }}</a></span>
      {% endif %}
      {% endfor %}
    </p>
    {% include next_prev_post.liquid posts=site.posts %}
  </div>

</div>
