---
layout: default
menu_item: blog
---

{% capture currentDate %}
{{ 'now' | date: '%s'}}
{% endcapture %}
{% assign currentYear = site.time | date: "%Y" | to_integer | minus: 2 %}
{% assign postYear = page.date | date: "%Y" | to_integer %}
<article class="card p-l1 p-r1" style="--card-color: var(--purple-color)" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="card-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  {%- if currentYear > postYear -%}
    <div class="card warning" style="">
      <div class="card-title">Article ancien</div>
      <p><strong>Attention :</strong> cet article a été rédigé il y a plus de 2 ans, certaines informations peuvent être obsolètes.</p>
    </div>
  {%- endif -%}

  {% if page.complexity %}
  <div class="complexity-bar complexity-{{ page.complexity }}">
    <span class="complexity-title">Complexité&nbsp;: </span>
    <span class="complexity-label">{{ page.complexity }}/5</span>
    <div class="complexity-filled">&nbsp;</div>
  </div>
  {% endif %}

  <section class="post" itemprop="articleBody">
    {{ content }}
  </section>

  <footer class="card post-meta" style="--card-color: var(--green-color)">
    <div class="card-title">Metas...</div>
    <p class="">Publié le&nbsp;:
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include date.liquid date=page.date format="long" %}
      </time>
    </p>
    {% include post_tags.liquid tags=page.tags %}
    {% include post_next_prev.liquid posts=site.posts %}
    {%- if site.author -%}
      <p class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author }}</span></p>
    {%- endif -%}
  </footer>
</article>
